<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @list.photo.key, height: 300, crop: :fill %>');">
  <div class="container">
    <h3><%= @list.name %>!</h3>
  </div>
</div>
<div class="container">
  <div class="mt-5">
    <div class="cards">
      <% @list.bookmarks.each do |bookmark| %>
      <div class="card-trip">
        <img src=<%= bookmark.movie.poster_url %>>
        <div class="card-trip-infos">
          <div>
            <h2><%= bookmark.movie.title %></h2>
            <p><%= bookmark.movie.overview %></p>
            <h2 class="mt-2">Bookmarks:</h2>
            <p><%= bookmark.comment %> <%= link_to "borrar", bookmark_path(bookmark), method: :delete, class: "btn btn-danger btn-sm ml-2" %></p>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>

  <div class="row justify-content-start mt-5">
    <div class="card p-3 mb-3 col-12 col-md-6 col-lg-6">
      <h5 class="mt-5">Escribe nuevo bookmark...</h5>
      <%= simple_form_for([@list, @bookmark]) do |f| %>
        <%= f.input :comment %>
        <%= f.association :movie, as: :radio_buttons %>
        <%= f.submit 'guardar bookmark', class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
      <div class="mb-5">
        <h5 class="mt-5">Reviews</h5>
        <%= link_to "Escribir review", new_list_review_path(@list) %>
        <div class="card py-3 px-2">
          <ul>
          <% @list.reviews.each do |review| %>
            <li><%= review.content %></li>
          <% end %>
          </ul>
        </div>
      </div>
</div>
